body {
    /*background-color: cornsilk;*/
    padding: 20px;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    width: 800px;
    margin: auto;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.header {
    /*background-color: #111;*/
    padding: 0;
    border-bottom: 2px solid lightgray;
    /*border-left: 1px solid lightgray;*/
    /*border-right: 1px solid lightgray;*/
}

ul.header li a {
    /*color: #FFF;*/
    color: #282c34;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.content {
    background-color: #FFF;
    padding: 20px;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}

.active {
    /*background-color: #0099FF;*/
    border-bottom: 5px solid steelblue;
}

#container {
    max-width: 600px;
    margin: auto;
    padding: 15px;
}

#container header, article, footer {
    border: 1px solid lightgray;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.blogpost {
    padding: 10px;
}

.post-header {
    border-bottom: 1px solid lightgrey;
    /*padding: 15px;*/
}

.titlebar {
    display: flex;
    justify-content: space-between;
    /*padding-bottom: 5px;*/
    margin-top: 8px;
}

.post-title {
    font-weight: bold;
    font-size: x-large;
}

.post-date {
    font-size: small;
    /*margin-top: 8px;*/
    color: darkgray;
}

.post-author {
    font-size: smaller;
    color: darkgray;
}

.post-content {
    padding: 20px;
}

.comment-link {
    padding: 10px;
    font-size: small;
    color: steelblue;
}

.post-footer {
    display: flex;
    justify-content: space-between;
}

.parallax-image {
    height: 80px;
    width: 100%;
    border-radius: 5px;
}

.par-header {
    color: #FFFFFF;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    /*border: 2px solid red;*/
    margin: 20px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 5px 5px 5px 10px;
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 5px;
}

.accordion:active, .accordion:hover {
    background-color: #ccc;
}

.comment-panel {
    padding: 0 5px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.comment-panel > p {
    padding: 3px;
    /*border: 1px solid #282c34;*/
    border-radius: 5px;

}

/*.accordion:after {*/
/*  content: '+'; !* Unicode character for "plus" sign (+) *!*/
/*  font-size: 13px;*/
/*  color: #777;*/
/*  float: right;*/
/*  margin-left: 5px;*/
/*}*/

/*.active:after {*/
/*  content: "-"; !* Unicode character for "minus" sign (-) *!*/
/*}*/
